h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
}

.tipo {
    font-family: Arial, Helvetica, sans-serif;
    size: 15px;
    color: darkblue;
}

.item {
    font-family: Arial, Helvetica, sans-serif;
    size: 10px;
    color: rgb(1, 1, 31);
}

p {
    font-family: Arial, Helvetica, sans-serif;
    size: 15px;
    color: darkblue;
}